WebClient/src/wsdl/localhost_8080/Week4LabActivity/LoyalityOfferImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://interfaces.my/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces.my/">

<xs:element name="getAllOffers" type="tns:getAllOffers"/>

<xs:element name="getAllOffersResponse" type="tns:getAllOffersResponse"/>

<xs:complexType name="getAllOffers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllOffersResponse">
<xs:sequence>
<xs:element name="employeeList" type="tns:digitalOffer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="digitalOffer">
<xs:sequence>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="empJob" type="xs:string" minOccurs="0"/>
<xs:element name="empName" type="xs:string" minOccurs="0"/>
<xs:element name="empNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>